<!-- footer-area-start -->
<footer class="footer-area section-space-top">
    <div class="container">
        <div class="footer-top">
            <div class="row gy-30">
                <div class="col-lg-8 col-xxl-7">
                    <div class="footer-left">
                        <h2 class="footer-contact-title">Let’s <span>discuss</span> your vision
                            <a href="contact.html" class="theme-btn theme-btn-one">
                                <span class="icon-box icon-box-1">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </span>
                                <span class="text-content">LETA’S TALK</span>
                                <span class="icon-box icon-box-2">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </span>
                            </a>
                            <span> with us</span>
                        </h2>
                    </div>
                </div>
                <div class="col-lg-4 col-xxl-5">
                    <div class="footer-contact title-anim ">
                        <div class="footer-location">
                            <p>27 Division, New York,</p>
                            <span>NY10002,USA</span>
                        </div>
                        <div class="footer-call-number">
                            <a href="tel:+18000123869765">+18000 123 869 765 </a>
                        </div>
                        <div class="footer-mail">
                            <a href="mailto:delixa.agency@mail.com">delixa.agency@mail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-inner">
            <div class="footer-copyright-text">
                <p>© Copyright 2025. All Rights Reserved.</p>
            </div>
            <div class="footer-menu-link">
                <ul>
                    <li><a href="index.html#">About Us</a></li>
                    <li><a href="index.html#">Privacy Policy</a></li>
                    <li><a href="index.html#">Terms & Condition</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-logo">
        <img src="assets/imgs/logo/footer-logo.png" alt="Logo Img">
    </div>
</footer>
<!-- footer-area-end -->