<!-- header-area -->
<header class="header-area">
    <div class="header-sticky">
        <div class="container-fluid">
            <div class="main-header">
                <div class="logo">
                    <a href="index.html">
                        <img src="{{ site.urlupload }}/logo-aksisoft-black-300.png" alt="logo">
                    </a>
                </div>
                <div class="main-menu">
                    <nav id="mobile-menu">
                        <ul>
                            <li class="has-mega-menu">
                                <a href="javascript:void(0)">Home</a>
                                <ul class="mega-menu">
                                    <li>
                                        <div class="home-menu-grid">
                                            <div class="menu-item active">
                                                <div class="menu-thumb">
                                                    <img src="{{ site.urltheme }}/assets/imgs/menu/home-menu1.png" alt="thumb not found">
                                                </div>
                                                <h6 class="menu-title">
                                                    <a class="stretched-link" href="index.html">Web Design Agency</a>
                                                </h6>
                                            </div>
                                            <div class="menu-item">
                                                <div class="menu-thumb">
                                                    <img src="{{ site.urltheme }}/assets/imgs/menu/home-menu2.png" alt="thumb not found">
                                                </div>
                                                <h6 class="menu-title">
                                                    <a class="stretched-link" href="index-2.html">SEO Agency</a>
                                                </h6>
                                            </div>
                                            <div class="menu-item">
                                                <div class="menu-thumb">
                                                    <img src="{{ site.urltheme }}/assets/imgs/menu/home-menu3.png" alt="thumb not found">
                                                </div>
                                                <h6 class="menu-title">
                                                    <a class="stretched-link" href="index-3.html">Creative Studio</a>
                                                </h6>
                                            </div>
                                            <div class="menu-item">
                                                <div class="menu-thumb">
                                                    <img src="{{ site.urltheme }}/assets/imgs/menu/home-menu4.png" alt="thumb not found">
                                                </div>
                                                <h6 class="menu-title">
                                                    <a class="stretched-link" href="index-4.html">Corporate Agency</a>
                                                </h6>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="about-us.html">About Us</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">service</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="service.html">service</a>
                                    </li>
                                    <li>
                                        <a href="service-details.html">service Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)"> Portfolio</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="portfolio.html">Porrtfolio</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-details.html">Porrtfolio Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Pages</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="about-us.html">About Us</a>
                                    </li>
                                    <li>
                                        <a href="team.html">Team</a>
                                    </li>
                                    <li>
                                        <a href="team-details.html">Team Details</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact</a>
                                    </li>
                                    <li>
                                        <a href="faq.html">Faq</a>
                                    </li>
                                    <li>
                                        <a href="404.html">404</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)"> Blog</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="blog.html">Blog</a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">Blog Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ site.url }}/kontak"> contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-right">
                    <a href="contact.html" class="theme-btn theme-btn-one d-none d-sm-block">
                        <span class="icon-box icon-box-1">
                            <i class="fa-solid fa-arrow-right"></i>
                        </span>
                        <span class="text-content">GET STARTED</span>
                        <span class="icon-box icon-box-2">
                            <i class="fa-solid fa-arrow-right"></i>
                        </span>
                    </a>
                    <div class="bars_icon d-lg-none">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-area-end -->