<!-- header-area -->
<header class="header-area">
    <div class="header-sticky">
        <div class="container-fluid">
            <div class="main-header">
                <div class="logo">
                    <a href="index.html">
                        <img src="{{ site.pathlocalupload }}/logo-aksisoft-01.svg?v=3" alt="logo">
                    </a>
                </div>
                <div class="main-menu">
                    <nav id="mobile-menu">
                        <ul>
                            <li class="has-mega-menu">
                                <a href="{{ site.url }}">Home</a>
                            </li>
                            <li>
                                <a href="{{ site.weburl }}/kontak"> Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-right">
                    <a href="contact.html" class="theme-btn theme-btn-one d-none d-sm-block">
                        <span class="icon-box icon-box-1">
                            <i class="fa-solid fa-arrow-right"></i>
                        </span>
                        <span class="text-content">GET STARTED</span>
                        <span class="icon-box icon-box-2">
                            <i class="fa-solid fa-arrow-right"></i>
                        </span>
                    </a>
                    <div class="bars_icon d-lg-none">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-area-end -->