<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

<div class="line-pattern-group">
    <div class="line"></div>
</div>

<!-- preloader start -->
<div id="preloader">
    <div class="preloader-logo">
        <div class="preloader-circle">
            <svg width="190" height="190" viewBox="0 0 380 380" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle stroke="#363535" cx="190" cy="190" r="180" stroke-width="10" stroke-linecap="round">
                </circle>
                <circle stroke="" cx="190" cy="190" r="180" stroke-width="10" stroke-linecap="round"></circle>
            </svg>
        </div>
        <img src="{{ site.urltheme }}/assets/imgs/loader.png" alt="">
    </div>
</div>
<!-- preloader start -->

<!-- Backtotop start -->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>
<!-- Backtotop end -->

<!--<< Mouse Cursor Start >>-->
<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>

<!-- ofcanvas-area-start -->
<div class="offcanvas-info">
    <div class="offcanvas-top mb-40">
        <div class="offcanvas-logo">
            <a href="index.html">
                <img src="{{ site.urltheme }}/assets/imgs/logo/logo-white.svg" alt="logo">
            </a>
        </div>
        <div class="offcanvas-icon">
            <button type="button"><i class="fa-regular fa-xmark"></i></button>
        </div>
    </div>
    <div class="mobile-menu-wrapper">
        <div class="mobile-menu fix"></div>
    </div>
    <div class="offcanvas-contact">
        <h3 class="follow-link">
            Social
        </h3>
        <div class="share-link">
            <ul>
                <li><a href="index.html#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="index.html#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="index.html#"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="index.html#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- ofcanvas-area-end -->

<!-- ofcanvas-overlay -->
<div class="offcanvas_overlay"></div>
<!-- ofcanvas-overlay -->