<!-- testimonial-area-start -->
<section class="testimonial-area section-space">
    <div class="container">
        <div class="testimonial-title-wrapper">
            <div class="row">
                <div class="col-lg-2 col-xl-3">
                    <span class="sub-title">testimonial</span>
                </div>
                <div class="col-lg-6 col-xl-6">
                    <h2 class="section-title mb-30 title-anim">The best customers says about delixa</h2>
                </div>
                <div class="col-lg-4 col-xl-3">
                    <p class="title-anim">Our agencies expertise to design Services often include website development,
                        UI/UX design.</p>
                </div>
            </div>
        </div>
        <div class="testimonial-slider-wrapper">
            <div class="row gy-30">
                <div class="col-lg-2">
                    <div class="testimonial-review">
                        <div class="review-text">
                            <div class="ratting">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>1.5k+ Reviews </p>
                        </div>
                        <div class="reviewer-img">
                            <ul>
                                <li>
                                    <img src="{{ site.urltheme }}/assets/imgs/avatar/reviewer1.png" alt="Avatar Img">
                                </li>
                                <li>
                                    <img src="{{ site.urltheme }}/assets/imgs/avatar/reviewer2.png" alt="Avatar Img">
                                </li>
                                <li>
                                    <img src="{{ site.urltheme }}/assets/imgs/avatar/reviewer3.png" alt="Avatar Img">
                                </li>
                                <li>
                                    <div class="add-review"><i class="fa-sharp fa-regular fa-plus"></i></div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="swiper testimonialSliderImage">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial-img">
                                    <img src="{{ site.urltheme }}/assets/imgs/testimonial/testimonial1.png" alt="Testimonial Img">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-img">
                                    <img src="{{ site.urltheme }}/assets/imgs/testimonial/testimonial2.png" alt="Testimonial Img">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-img">
                                    <img src="{{ site.urltheme }}/assets/imgs/testimonial/testimonial3.png" alt="Testimonial Img">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-img">
                                    <img src="{{ site.urltheme }}/assets/imgs/testimonial/testimonial1.png" alt="Testimonial Img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="swiper testimonialSliderContent">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="slider-content">
                                    <div class="quote-icon">
                                        <img src="{{ site.urltheme }}/assets/imgs/icon/quote.png" alt="Icon">
                                    </div>
                                    <p>We’re looking for a Senior Designer’s to join our team.
                                        You’ll lead the execution of digital design projects, working closely
                                        with the internal have team and business goal plans.
                                    </p>
                                    <p>Into a seamless digitals experience. you will to intuition to help.</p>
                                    <div class="slider-bottom">
                                        <h5 class="author-name">Alon Marks</h5>
                                        <span class="designation">Founder, AIRobort</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slider-content">
                                    <div class="quote-icon">
                                        <img src="{{ site.urltheme }}/assets/imgs/icon/quote.png" alt="Icon">
                                    </div>
                                    <p>We’re looking for a Senior Designer’s to join our team.
                                        You’ll lead the execution of digital design projects, working closely
                                        with the internal have team and business goal plans.
                                    </p>
                                    <p>Into a seamless digitals experience. you will to intuition to help.</p>
                                    <div class="slider-bottom">
                                        <h5 class="author-name">Alex Hells</h5>
                                        <span class="designation">Founder</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slider-content">
                                    <div class="quote-icon">
                                        <img src="{{ site.urltheme }}/assets/imgs/icon/quote.png" alt="Icon">
                                    </div>
                                    <p>We’re looking for a Senior Designer’s to join our team.
                                        You’ll lead the execution of digital design projects, working closely
                                        with the internal have team and business goal plans.
                                    </p>
                                    <p>Into a seamless digitals experience. you will to intuition to help.</p>
                                    <div class="slider-bottom">
                                        <h5 class="author-name">Mily Martin</h5>
                                        <span class="designation">CEO</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slider-content">
                                    <div class="quote-icon">
                                        <img src="{{ site.urltheme }}/assets/imgs/icon/quote.png" alt="Icon">
                                    </div>
                                    <p>We’re looking for a Senior Designer’s to join our team.
                                        You’ll lead the execution of digital design projects, working closely
                                        with the internal have team and business goal plans.
                                    </p>
                                    <p>Into a seamless digitals experience. you will to intuition to help.</p>
                                    <div class="slider-bottom">
                                        <h5 class="author-name">Alon Marks</h5>
                                        <span class="designation">Founder, AIRobort</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- If we need pagination -->
                        <div class="slider_pagination">
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial-area-end -->