<!-- capabalities-area-start -->
<section class="capabilites-area section-space fade-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-top-content">
                    <span class="sub-title">capabilities</span>
                    <h2 class="section-title title-anim">The benefits of working with a professional web design agency
                    </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="capabilities-right">
                    <div class="develop-skill">
                        <p class="title-anim">
                            our agencies expertise to design Services often
                            include website development, UI/UX design, mobile responsive and SEO.
                        </p>
                        <div class="progress-item">
                            <span class="title">Website & Mobile Development</span>
                            <div class="progress--bar" data-percentage="90%">
                                <div class="progress-number">
                                    <span class="percent"></span>
                                </div>
                                <div class="progress-bg">
                                    <div class="progress-fill"></div>
                                </div>
                            </div>
                        </div>
                        <div class="progress-item">
                            <span class="title">Testing</span>
                            <div class="progress--bar" data-percentage="80%">
                                <div class="progress-number">
                                    <span class="percent"></span>
                                </div>
                                <div class="progress-bg">
                                    <div class="progress-fill"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="capabilities-img-wrapper fade-top">
                    <div class="accordion" id="accordionExampleb3">
                        <div class="accordion-collapse collapseTwo1 collapse show" data-bs-parent="#accordionExampleb3">
                            <div class="capabilities-thumb">
                                <div class="single-img-one">
                                    <img src="assets/imgs/project/capabilities1.png" alt="Capabilities Img">
                                </div>
                                <div class="single-img-two">
                                    <img src="assets/imgs/project/capabilities2.png" alt="Capabilities Img">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-collapse collapseTwo2 collapse" data-bs-parent="#accordionExampleb3">
                            <div class="capabilities-thumb">
                                <div class="single-img-one">
                                    <img src="assets/imgs/project/capabilities3.png" alt="Capabilities Img">
                                </div>
                                <div class="single-img-two">
                                    <img src="assets/imgs/project/capabilities4.png" alt="Capabilities Img">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-collapse collapseTwo3 collapse" data-bs-parent="#accordionExampleb3">
                            <div class="capabilities-thumb">
                                <div class="single-img-one">
                                    <img src="assets/imgs/project/capabilities5.png" alt="Capabilities Img">
                                </div>
                                <div class="single-img-two">
                                    <img src="assets/imgs/project/capabilities6.png" alt="Capabilities Img">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-collapse collapseTwo4 collapse" data-bs-parent="#accordionExampleb3">
                            <div class="capabilities-thumb">
                                <div class="single-img-one">
                                    <img src="assets/imgs/project/capabilities4.png" alt="Capabilities Img">
                                </div>
                                <div class="single-img-two">
                                    <img src="assets/imgs/project/capabilities1.png" alt="Capabilities Img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="accordion_style capabilities-right fade_in_bottom">
                    <div class="accordion" id="accordionExampleb2">
                        <div class="accordion-item">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target=".collapseTwo1">
                                Professional Expertise
                            </button>
                            <div class="accordion-collapse collapseTwo1 show collapse"
                                data-bs-parent="#accordionExampleb2">
                                <div class="accordion-body">
                                    <p class="description">
                                        Our agency offers a team of skilled professionals with expertise in
                                        <strong>design, development, and user experience</strong>. This ensures your
                                        website.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target=".collapseTwo2">
                                Customized Solutions
                            </button>
                            <div id="collapseTwo2" class="accordion-collapse collapseTwo2 collapse"
                                data-bs-parent="#accordionExampleb2">
                                <div class="accordion-body">
                                    <div class="inner">
                                        <p class="description">
                                            Lorem ipsum dolor sit amet, <strong>utinam</strong> munere antiopam vel ad.
                                            Qui eros iusto te.
                                            Nec ad feugiat honestatis. Quo illum detraxit an. Ius eius quodsi
                                            <strong>molestiae</strong> at,
                                            nostrum definitiones his cu. Discere referrentur mea id, an pri novum possim
                                            deterruissetad.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target=".collapseTwo3">
                                What included?
                            </button>
                            <div class="accordion-collapse collapseTwo3 collapse" data-bs-parent="#accordionExampleb2">
                                <div class="accordion-body">
                                    <div class="inner">
                                        <p class="description">
                                            Lorem ipsum dolor sit amet, <strong>utinam</strong> munere antiopam vel ad.
                                            Qui eros iusto te.
                                            Nec ad feugiat honestatis. Quo illum detraxit an. Ius eius quodsi
                                            <strong>molestiae</strong> at,
                                            nostrum definitiones his cu. Discere referrentur mea id, an pri novum possim
                                            deterruissetad.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target=".collapseTwo4">
                                Why you can this place me?
                            </button>
                            <div class="accordion-collapse collapseTwo4 collapse" data-bs-parent="#accordionExampleb2">
                                <div class="accordion-body">
                                    <div class="inner">
                                        <p class="description">
                                            Lorem ipsum dolor sit amet, <strong>utinam</strong> munere antiopam vel ad.
                                            Qui eros iusto te.
                                            Nec ad feugiat honestatis. Quo illum detraxit an. Ius eius quodsi
                                            <strong>molestiae</strong> at,
                                            nostrum definitiones his cu. Discere referrentur mea id, an pri novum possim
                                            deterruissetad.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- capabalities-area-end -->