<!-- blog-area-start -->
<section class="blog-area section-space-bottom">
    <div class="container">
        <div class="section-top-content">
            <div class="row gy-30">
                <div class="col-lg-8">
                    <div class="blog-left">
                        <span class="sub-title">blog</span>
                        <h2 class="section-title title-anim">Check out our latest journals</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-right">
                        <p class="title-anim">our agencies Services often include website and development, UI/UX design,
                            mobile our agencies Services often include website.</p>
                        <div class="contact-btn line-btn pt-10">
                            <a href="blog.html">VIEW ALL POST<span><i class="fa-light fa-angle-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-30">
            <div class="col-md-6 col-lg-4">
                <article class="blog-single">
                    <div class="blog-thumb">
                        <img src="assets/imgs/blog/blog-bg-img1.png" alt="Blog Img">
                    </div>
                    <span class="blog-category">MARKETING</span>
                    <div class="blog-content">
                        <span class="read-post">5 min read</span>
                        <h5 class="blog-title">
                            <a href="blog-details.html">How a seo marketing agency can boost your business</a>
                        </h5>
                        <div class="blog-post-bottom">
                            <div class="blog-meta-wrapper">
                                <div class="avatar-img">
                                    <img src="assets/imgs/avatar/avatar.png" alt="Alex Martin">
                                </div>
                                <h6 class="avatar-name"><a href="index.html#">alex martin</a></h6>
                            </div>
                            <div class="post-date">06-11-2025</div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <article class="blog-single">
                    <div class="blog-thumb">
                        <img src="assets/imgs/blog/blog-bg-img2.png" alt="Blog Img">
                    </div>
                    <span class="blog-category">BRANDING</span>
                    <div class="blog-content">
                        <span class="read-post">7 min read</span>
                        <h5 class="blog-title">
                            <a href="blog-details.html">The latest trends and strategies with a digital marketing
                                agency</a>
                        </h5>
                        <div class="blog-post-bottom">
                            <div class="blog-meta-wrapper">
                                <div class="avatar-img">
                                    <img src="assets/imgs/avatar/avatar4.png" alt="Taylor Hels">
                                </div>
                                <h6 class="avatar-name"><a href="index.html#">Taylor Hels</a></h6>
                            </div>
                            <div class="post-date">07-11-2025</div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <article class="blog-single">
                    <div class="blog-thumb">
                        <img src="assets/imgs/blog/blog-bg-img3.png" alt="Blog Img">
                    </div>
                    <span class="blog-category">DESIGN</span>
                    <div class="blog-content">
                        <span class="read-post">9 min read</span>
                        <h5 class="blog-title">
                            <a href="blog-details.html">Maximizing roi with the expertise of a digital marketing
                                agency</a>
                        </h5>
                        <div class="blog-post-bottom">
                            <div class="blog-meta-wrapper">
                                <div class="avatar-img">
                                    <img src="assets/imgs/avatar/avatar3.png" alt="Adam Miller">
                                </div>
                                <h6 class="avatar-name"><a href="index.html#">Adam Miller</a></h6>
                            </div>
                            <div class="post-date">09-11-2025</div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- blog-area-end -->