<!-- counter-area-start -->
<section class="counter-area" data-background="assets/imgs/bg/counter-bg.png">
    <div class="container">
        <div class="row gy-40">
            <div class="col-6 col-lg-3">
                <div class="single-counter">
                    <span class="counter-list">[01]</span>
                    <h2><span class="counter">32</span>k</h2>
                    <p>project completed successfully</p>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="single-counter">
                    <span class="counter-list">[02]</span>
                    <h2><span class="counter">23</span>+</h2>
                    <p>happy satesfied customer</p>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="single-counter">
                    <span class="counter-list">[03]</span>
                    <h2><span class="counter">25</span>+</h2>
                    <p>years of experiences</p>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="single-counter">
                    <span class="counter-list">[04]</span>
                    <h2><span class="counter">60</span>+</h2>
                    <p>Awards innovation winner</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- counter-area-end -->