<!-- banner-area-start -->
<section class="banner-area">
    <div class="container p-relative">
        <div class="row gy-30 align-items-center">
            <div class="col-lg-7">
                <div class="banner-left-wrapper">
                    <h1 class="banner-title title-anim">We design<span class="text-stroke"> web based</span>
                        <span>idea</span>s</h1>
                    <div class="banner-thumb fix">
                        <img data-speed=".9" src="{{ site.urltheme }}/assets/imgs/banner/banner-img.png" alt="Hero Img">
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner-right-wrapper">
                    <div class="project-counter fade_in_bottom">
                        <h3 class="mb-10"><span class="counter">23</span>k</h3>
                        <p>Project Completed Successfully</p>
                        <img class="icon-arrow img-custom-anim-left wow" src="{{ site.urltheme }}/assets/imgs/icon/arrow-icon.png"
                            alt="Icon">
                    </div>
                    <p class="title-anim pb-10">We provide brilliant ideas and adding the world called success brand.
                        modern and cutting edge
                        approach for creating digital brands, services
                        and product.
                    </p>
                    <a href="contact.html" class="theme-btn theme-btn-one">
                        <span class="icon-box icon-box-1">
                            <i class="fa-solid fa-arrow-right"></i>
                        </span>
                        <span class="text-content">LET’S TALK</span>
                        <span class="icon-box icon-box-2">
                            <i class="fa-solid fa-arrow-right"></i>
                        </span>
                    </a>
                    <div class="reviewer-wrapper">
                        <div class="reviewer-img">
                            <ul>
                                <li>
                                    <img src="{{ site.urltheme }}/assets/imgs/avatar/reviewer1.png" alt="Avatar img">
                                </li>
                                <li>
                                    <img src="{{ site.urltheme }}/assets/imgs/avatar/reviewer2.png" alt="Avatar img">
                                </li>
                                <li>
                                    <img src="{{ site.urltheme }}/assets/imgs/avatar/reviewer3.png" alt="Avatar img">
                                </li>
                            </ul>
                        </div>
                        <div class="review-text">
                            <div class="ratting">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>1.5k+ Reviews ( 4.9 of 5 ) </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-wrapper" data-speed=".9">
            <div class="shape-bg-primary">
                <img src="{{ site.urltheme }}/assets/imgs/shape/shap-primary-bg.png" alt="Shape Img">
            </div>
            <div class="shape-bg-black">
                <img src="{{ site.urltheme }}/assets/imgs/shape/shape-black.png" alt="Shape img">
            </div>
        </div>
    </div>
</section>
<!-- banner-area-end -->