<!-- team-area-start -->
<section class="team-area section-space">
    <div class="container">
        <div class="team-top-content">
            <div class="row align-items-center gy-30">
                <div class="col-lg-4">
                    <span class="sub-title">team</span>
                    <h2 class="section-title title-anim">Meet our creative staff</h2>
                </div>
                <div class="col-lg-5">
                    <p class="title-anim">our agencies expertise to design Services often
                        include website development, UI/UX design, mobile responsive and SEO.
                    </p>
                </div>
                <div class="col-lg-3">
                    <div class="team-right-wrapper">
                        <div class="team-right-content">
                            <h5>200+</h5>
                            <div class="team-view">
                                <span>team members</span>
                                <ul class="team-members-list">
                                    <li><img src="{{ site.urltheme }}/assets/imgs/avatar/avatar.png" alt="Avatar img"></li>
                                    <li><img src="{{ site.urltheme }}/assets/imgs/avatar/avatar2.png" alt="Avatar img"></li>
                                    <li><img src="{{ site.urltheme }}/assets/imgs/avatar/avatar3.png" alt="Avatar img"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="contact-btn line-btn pt-10">
                            <a href="blog.html">VIEW ALL TEAM<span><i class="fa-light fa-angle-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-30">
            <div class="col-sm-6 col-lg-3 team-wrapper">
                <div class="single-team">
                    <div class="team-img">
                        <a href="team-details.html">
                            <img src="{{ site.urltheme }}/assets/imgs/team/team1.png" alt="Team Member Img">
                        </a>
                        <div class="social-icon">
                            <ul>
                                <li><a class="facebook" href="index.html#"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li><a class="linkedin" href="index.html#"><i class="fa-brands fa-linkedin-in"></i></a>
                                </li>
                                <li><a class="instagram" href="index.html#"><i class="fa-brands fa-twitter"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-img-content">
                        <span>CEO</span>
                        <h5 class="team-author-title"><a href="team-details.html">adam miller</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 team-wrapper">
                <div class="single-team">
                    <div class="team-img fix">
                        <a href="team-details.html">
                            <img data-speed=".9" src="assets/imgs/team/team2.png" alt="Team Member Img">
                        </a>
                        <div class="social-icon">
                            <ul>
                                <li><a class="facebook" href="index.html#"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li><a class="linkedin" href="index.html#"><i class="fa-brands fa-linkedin-in"></i></a>
                                </li>
                                <li><a class="instagram" href="index.html#"><i class="fa-brands fa-twitter"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-img-content">
                        <span>product designer</span>
                        <h5 class="team-author-title"><a href="team-details.html">Mily Martin</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 team-wrapper">
                <div class="single-team">
                    <div class="team-img">
                        <a href="team-details.html">
                            <img src="{{ site.urltheme }}/assets/imgs/team/team3.png" alt="Team Member Img">
                        </a>
                        <div class="social-icon">
                            <ul>
                                <li><a class="facebook" href="index.html#"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li><a class="linkedin" href="index.html#"><i class="fa-brands fa-linkedin-in"></i></a>
                                </li>
                                <li><a class="instagram" href="index.html#"><i class="fa-brands fa-twitter"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-img-content">
                        <span>Ui Designer</span>
                        <h5 class="team-author-title"><a href="team-details.html">Loreal miller</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 team-wrapper">
                <div class="single-team">
                    <div class="team-img fix">
                        <a href="team-details.html">
                            <img data-speed=".9" src="assets/imgs/team/team4.png" alt="Team Member Img">
                        </a>
                        <div class="social-icon">
                            <ul>
                                <li><a class="facebook" href="index.html#"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li><a class="linkedin" href="index.html#"><i class="fa-brands fa-linkedin-in"></i></a>
                                </li>
                                <li><a class="instagram" href="index.html#"><i class="fa-brands fa-twitter"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-img-content">
                        <span>Front-end Dev</span>
                        <h5 class="team-author-title"><a href="team-details.html">Sam Pertson</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team-area-end -->