<!-- service-area-start -->
<section class="service-area section-space fix">
    <div class="container">
        <div class="service-main-wrapper p-relative fix">
            <div class="row">
                <div class="col-lg-4">
                    <span class="sub-title">service</span>
                </div>
                <div class="col-lg-8">
                    <div class="service-top">
                        <div class="section-top-content">
                            <h2 class="section-title title-anim">We offering high quality service every time</h2>
                            <p class="title-anim">We are expertise to design Services often
                                include website development, UI/UX design,
                                mobile responsive and SEO.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="service-bottom">
                    <div class="service-tab-wrapper">
                        <ul class="nav service-tab">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" href="index.html#brand"
                                    data-bs-toggle="tab"><span>(01)</span>Brand Design</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="index.html#ui" data-bs-toggle="tab"><span>(02)</span>UI UX
                                    Design</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="index.html#development"
                                    data-bs-toggle="tab"><span>(03)</span>Development</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="index.html#seo" data-bs-toggle="tab"><span>(04)</span>SEO/SEM
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="index.html#consultancy"
                                    data-bs-toggle="tab"><span>(05)</span>Consultancy </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content fade_in_bottom">
                        <div class="tab-pane fade show active" id="brand" role="tabpanel">
                            <div class="service-wrapper">
                                <div class="service-img">
                                    <a href="service-details.html">
                                        <img src="assets/imgs/service/service1.png" alt="Service Img">
                                    </a>
                                    <div class="service-icon">
                                        <img src="assets/imgs/icon/service-icon.png" alt="Icon">
                                    </div>
                                </div>
                                <div class="service-tab-content">
                                    <p>we are crafting a unique visual and conceptual identity that communicates a
                                        brand’s values.</p>
                                    <ul class="service-list">
                                        <li>Designing Logos</li>
                                        <li>Iconic Creation</li>
                                        <li>Turning Ideas</li>
                                        <li>Elevate Brands</li>
                                        <li>Building Brands</li>
                                        <li>Custom Design</li>
                                        <li>Creative Minds</li>
                                        <li>Promotion</li>
                                        <li>Logo Design</li>
                                        <li>Advertisement</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="ui" role="tabpanel">
                            <div class="service-wrapper">
                                <div class="service-img">
                                    <a href="service-details.html">
                                        <img src="assets/imgs/service/service2.png" alt="Service Img">
                                    </a>
                                    <div class="service-icon">
                                        <img src="assets/imgs/icon/service-icon.png" alt="Icon">
                                    </div>
                                </div>
                                <div class="service-tab-content">
                                    <p>we are crafting a unique visual and conceptual identity that communicates a
                                        brand’s values.</p>
                                    <ul class="service-list">
                                        <li>Custom Design</li>
                                        <li>Creative Minds</li>
                                        <li>Promotion</li>
                                        <li>Designing Logos</li>
                                        <li>Iconic Creation</li>
                                        <li>Turning Ideas</li>
                                        <li>Building Brands</li>
                                        <li>Logo Design</li>
                                        <li>Advertisement</li>
                                        <li>Elevate Brands</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="development" role="tabpanel">
                            <div class="service-wrapper">
                                <div class="service-img">
                                    <a href="service-details.html">
                                        <img src="assets/imgs/service/service3.png" alt="Service Img">
                                    </a>
                                    <div class="service-icon">
                                        <img src="assets/imgs/icon/service-icon.png" alt="Icon">
                                    </div>
                                </div>
                                <div class="service-tab-content">
                                    <p>we are crafting a unique visual and conceptual identity that communicates a
                                        brand’s values.</p>
                                    <ul class="service-list">
                                        <li>Elevate Brands</li>
                                        <li>Building Brands</li>
                                        <li>Custom Design</li>
                                        <li>Creative Minds</li>
                                        <li>Promotion</li>
                                        <li>Designing Logos</li>
                                        <li>Iconic Creation</li>
                                        <li>Turning Ideas</li>
                                        <li>Logo Design</li>
                                        <li>Advertisement</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="seo" role="tabpanel">
                            <div class="service-wrapper">
                                <div class="service-img">
                                    <a href="service-details.html">
                                        <img src="assets/imgs/service/service4.png" alt="Service Img">
                                    </a>
                                    <div class="service-icon">
                                        <img src="assets/imgs/icon/service-icon.png" alt="Icon">
                                    </div>
                                </div>
                                <div class="service-tab-content">
                                    <p>we are crafting a unique visual and conceptual identity that communicates a
                                        brand’s values.</p>
                                    <ul class="service-list">
                                        <li>Iconic Creation</li>
                                        <li>Designing Logos</li>
                                        <li>Turning Ideas</li>
                                        <li>Building Brands</li>
                                        <li>Custom Design</li>
                                        <li>Creative Minds</li>
                                        <li>Promotion</li>
                                        <li>Logo Design</li>
                                        <li>Elevate Brands</li>
                                        <li>Advertisement</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="consultancy" role="tabpanel">
                            <div class="service-wrapper">
                                <div class="service-img">
                                    <a href="service-details.html">
                                        <img src="assets/imgs/service/service5.png" alt="Service Img">
                                    </a>
                                    <div class="service-icon">
                                        <img src="assets/imgs/icon/service-icon.png" alt="Icon">
                                    </div>
                                </div>
                                <div class="service-tab-content">
                                    <p>we are crafting a unique visual and conceptual identity that communicates a
                                        brand’s values.</p>
                                    <ul class="service-list">
                                        <li>Elevate Brands</li>
                                        <li>Custom Design</li>
                                        <li>Creative Minds</li>
                                        <li>Promotion</li>
                                        <li>Designing Logos</li>
                                        <li>Iconic Creation</li>
                                        <li>Turning Ideas</li>
                                        <li>Building Brands</li>
                                        <li>Logo Design</li>
                                        <li>Advertisement</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-wrapper-two" data-speed=".9">
                <div class="shape-bg-black">
                    <img src="assets/imgs/shape/shape-bg-black2.png" alt="Shape Img">
                </div>
                <div class="shape-bg-primary">
                    <img src="assets/imgs/shape/shape-bg-primary2.png" alt="Shape Img">
                </div>
            </div>
            <div class="border-shape"></div>
        </div>
    </div>
</section>
<!-- service-area-end -->