<!-- tools-area-start -->
<section class="tools-area section-space" data-background="assets/imgs/bg/tools-bg.png">
    <div class="container">
        <div class="row gy-30">
            <div class="col-lg-3 col-xl-4">
                <div class="section-top-content">
                    <span class="sub-title color-white">software and tools</span>
                    <h2 class="section-title color-white title-anim">Area of expertise</h2>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="tools-content">
                    <p class="color-white title-anim">our agencies expertise to design Services often include website
                        development, UI/UX design, mobile responsive and SEO.</p>
                    <a href="contact.html" class="theme-btn theme-btn-one">
                        <span class="icon-box icon-box-1">
                            <i class="fa-solid fa-arrow-right"></i>
                        </span>
                        <span class="text-content">LETA’S TALK</span>
                        <span class="icon-box icon-box-2">
                            <i class="fa-solid fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-xl-5">
                <div class="tools-slider swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="single-tools">
                                <div class="tools-number">[01]</div>
                                <div class="tools-icon">
                                    <img src="{{ site.urltheme }}/assets/imgs/icon/wordpress.png" alt="Icon">
                                </div>
                                <p>Wordpress</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-tools">
                                <div class="tools-number">[02]</div>
                                <div class="tools-icon">
                                    <img src="{{ site.urltheme }}/assets/imgs/icon/webflow.png" alt="Icon">
                                </div>
                                <p>Webflow</p>
                            </div>
                        </div>
                    </div>
                    <div class="navigation__wrapper">
                        <button class="tools_button_prev"><i class="fa-light fa-angle-left"></i></button>
                        <button class="tools_button_next"><i class="fa-light fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- tools-area-end -->