<!-- experties-area-start -->
<section class="expertise-area section-space" data-background="assets/imgs/bg/experties-bg.png">
    <div class="container">
        <div class="section-top-content">
            <div class="row gy-30">
                <div class="col-lg-8">
                    <span class="sub-title color-white">expertise</span>
                    <h2 class="section-title color-white title-anim">Drive the success of your product</h2>
                </div>
                <div class="col-lg-4">
                    <p class="color-white title-anim">our team member brings a unique set of skills, and together, we
                        approach challenges holistically, considering every angle and detail.</p>
                </div>
            </div>
        </div>
        <div class="expertise-line">
            <div class="line-bg"></div>
        </div>
        <div class="expertise-main-wrapper fade_in_bottom swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="expertise-single">
                        <h5 class="color-white">Dedicated team</h5>
                        <p>Our dedicated team is the backbone of our success. We believe in going above and beyond for
                            our clients</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="expertise-single">
                        <h5 class="color-white">Product team</h5>
                        <p>Our product team is dedicated to transforming ideas into impactful solutions. With a blend of
                            creativity.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="expertise-single">
                        <h5 class="color-white">End- to- end team</h5>
                        <p>With a diverse set of skills spanning strategy, design, development, and delivery, we
                            approach each project.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="expertise-single">
                        <h5 class="color-white">Dedicated team</h5>
                        <p>Our dedicated team is the backbone of our success. We believe in going above and beyond for
                            our clients</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- experties-area-end -->