<!-- feature-area-start -->
<section class="feature-area section-space">
    <div class="container">
        <div class="feature-top">
            <div class="row">
                <div class="col-lg-2">
                    <span class="sub-title">our works</span>
                </div>
                <div class="col-lg-6">
                    <div class="section-top-content fade-wrapper">
                        <h2 class="featured-top-title split-text split-in-right">Featured <img class="fade-top"
                                src="assets/imgs/project/feature-s-1.png" alt="Title Img"> <span
                                class="font-italic">Projects</span></h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feature-text title-anim">
                        <p>Our agencies expertise to design Services often include website development, UI/UX design.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="featured-single an-pine-vanish">
            <div class="feature-thumb magnetic-wrap">
                <div class="featured-img magnetic-area">
                    <img src="assets/imgs/feature/feature4.png" alt="Portfolio Img">
                    <div class="featured-date"><span>2022</span></div>
                    <a href="portfolio-details.html" class="view-details-btn magnetic-content">
                        View <i class="fa-regular fa-arrow-right-long"></i>
                    </a>
                </div>
            </div>
            <div class="featured-content">
                <h4 class="featured-title">
                    <a href="portfolio-details.html">Delixa <span>web design agency</span></a>
                </h4>
                <div class="feature-category">
                    <ul>
                        <li>Development</li>
                        <li>UI/UX</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="featured-single an-pine-vanish">
            <div class="feature-thumb magnetic-wrap">
                <div class="featured-img magnetic-area">
                    <img src="assets/imgs/feature/feature5.png" alt="Portfolio Img">
                    <div class="featured-date"><span>2023</span></div>
                    <a href="portfolio-details.html" class="view-details-btn magnetic-content">
                        View <i class="fa-regular fa-arrow-right-long"></i>
                    </a>
                </div>
            </div>
            <div class="featured-content">
                <h4 class="featured-title">
                    <a href="portfolio-details.html">Moshiqa <span>cloud based money management</span></a>
                </h4>
                <div class="feature-category">
                    <ul>
                        <li>Development</li>
                        <li>UI/UX</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="featured-single">
            <div class="feature-thumb magnetic-wrap">
                <div class="featured-img magnetic-area">
                    <img src="assets/imgs/feature/feature6.png" alt="Portfolio Img">
                    <div class="featured-date"><span>2025</span></div>
                    <a href="portfolio-details.html" class="view-details-btn magnetic-content">
                        View <i class="fa-regular fa-arrow-right-long"></i>
                    </a>
                </div>
            </div>
            <div class="featured-content">
                <h4 class="featured-title">
                    <a href="portfolio-details.html">Sprint <span>company branding design</span></a>
                </h4>
                <div class="feature-category">
                    <ul>
                        <li>Branding</li>
                        <li>Graphic Design</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feature-btn" data-speed="1" data-lag="0.2">
            <a href="portfolio.html" class="theme-btn theme-btn-one">
                <span class="icon-box icon-box-1">
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
                <span class="text-content">VIEW ALL PROJECTS</span>
                <span class="icon-box icon-box-2">
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
            </a>
        </div>
    </div>
</section>
<!-- feature-area-end -->