<!-- provide-area-start -->
<section class="provide-area" data-background="assets/imgs/bg/provide-bg.png">
    <div class="container">
        <div class="row gy-30 align-items-center">
            <div class="col-lg-6">
                <div class="provide-video">
                    <div class="video-btn">
                        <a href="https://www.youtube.com/watch?v=-QXrbXYE4jE" class="video-play-btn popup-video">
                            <i class="fa-sharp-duotone fa-solid fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="provide-content">
                    <div class="logo-icon">
                        <img src="assets/imgs/icon/provide-icon.png" alt="Icon">
                    </div>
                    <h3 class="provide-title title-anim ">We provide <br> special offers for the best customers</h3>
                    <div class="provide-btn">
                        <a href="index.html#">explore more <span><i class="fa-light fa-angle-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- provide-area-end -->