<!-- identity-area-start -->
<section class="identity-area section-space-top">
    <div class="container">
        <div class="row gy-30">
            <div class="col-lg-7">
                <div class="identity-left-content">
                    <div class="section-top-content">
                        <span class="sub-title">discover our identity</span>
                        <h2 class="section-title title-anim">
                            We provide brilliant ideas and adding the world called success to your brand.
                        </h2>
                    </div>
                    <div class="identity-thumb">
                        <div class="identity-img fix">
                            <img data-speed=".9" src="{{ site.urltheme }}/assets/imgs/project/identity1.png" alt="Identity Img">
                        </div>
                        <div class="identity-counter-wrapper">
                            <div class="identity-single-count">
                                <h3><span class="counter">28</span>+</h3>
                                <p>designers and developers</p>
                            </div>
                            <div class="identity-single-count">
                                <h3><span class="counter">345</span>+</h3>
                                <p>awards for digital innovation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="identity-right title-anim">
                    <span class="identity-since">Since 2015</span>
                    <p>our agencies Services often include website and development, UI/UX design, mobile responsiveness
                        and SEO.</p>
                    <div class="location">
                        <div class="location-map">
                            <a href="https://www.google.com/maps/place/Orville+St,+La+Presa,+CA+91977,+USA/@32.7092048,-117.0082772,17z/data=!3m1!4b1!4m5!3m4!1s0x80d9508a9aec8cd1:0x72d1ac1c9527b705!8m2!3d32.7092003!4d-117.0060885"
                                target="_blank">
                                27 Division, New York <span>NY10002,USA</span>
                            </a>
                        </div>
                        <div class="number">
                            <a href="tel:+18000123869765">+18000 123 869 765 </a>
                        </div>
                        <div class="mail">
                            <a href="mailto:delixa.agency@mail.com">delixa.agency@mail.com</a>
                        </div>
                    </div>
                </div>
                <div class="fix">
                    <div class="img-box-reveal fix">
                        <div class="identity-reveal-img img" data-background="assets/imgs/project/identity2.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- identity-area-end -->