<!-- brand-area-start -->
<div class="brand-area section-space">
    <div class="container fade_in_bottom">
        <div class="brand-slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="brand-img">
                        <a href="index.html#">
                            <img src="assets/imgs/brand/brand1.png" alt="brand img">
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-img">
                        <a href="index.html#">
                            <img src="assets/imgs/brand/brand2.png" alt="brand img">
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-img">
                        <a href="index.html#">
                            <img src="assets/imgs/brand/brand3.png" alt="brand img">
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-img">
                        <a href="index.html#">
                            <img src="assets/imgs/brand/brand1.png" alt="brand img">
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-img">
                        <a href="index.html#">
                            <img src="assets/imgs/brand/brand2.png" alt="brand img">
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-img">
                        <a href="index.html#">
                            <img src="assets/imgs/brand/brand3.png" alt="brand img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand-area-end -->